/* .componentPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
} */



/* .wrapper {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0;
  width: 454px;
  height: 136px;
} */




body {
  background-color: rgb(26, 26, 33);

}

html, .cards-container, body {
  min-height: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 52); 
  border-radius: 10px;
}

.refresh {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.card {
  width: 434px;
  /* width: 27.125em; */
  height: 121px;
  /* height: 7.5625em; */
  background-color: rgb(46, 46, 52);
  border-radius: 5px;
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  z-index: 1;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  padding: 10px;
  padding-right: 0px;
  padding-top: 5px;
  /* padding-right: 10px; */
  cursor: pointer;
  z-index: 0;
  user-select: none;
}

.card-expanded {
  width: 630px;
  height: 157px;
  background-color: rgb(46, 46, 52);
  border-radius: 5px;
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  z-index: 3;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.4));
  padding: 10px;
  padding-right: 0px;
  padding-top: 5px;
  cursor: pointer;
  user-select: none;
}


.cards-container {
  max-width: 100%;
  margin: 0;
  padding: 0 10px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content:flex-start;
}

.cards-container-unfolded {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 10px 10 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}




.modal {
  /* background: black; */
  /* opacity: 0.2; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  backdrop-filter: blur(100px);
  /* backdrop-filter: brightness(40%); */
  backdrop-filter: tint;
  position: fixed;
  /* overflow-y: hidden; */
}




.head {
  width: calc(100% - 10px);
  height: min-content;
  border-bottom: 0.5px white solid;
  /* margin-right: 10px; */
  padding-bottom: 8px;
}

.body {
  width: 100%;
  height: inherit;
  display: flex;
  /* align-content: flex-start; */
  /* justify-content: flex-start; */
}

.title-section {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
}

.color-square {
  border-radius: 5px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin-top: -4px;
}

.infopill {
  border-radius: 12px;
  background-color: rgb(80, 80, 84);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  padding: 2px 5px 2px 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-right: 5px;
  list-style: none;
}

.infopill-expand {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  /* border: 1px solid white; */
  box-shadow:0px 0px 0px 1px white inset;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  padding: 2px 5px 2px 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-right: 5px;
  list-style: none;
}

/* .pill-container::-webkit-scrollbar {
  display: none;
} */

.pill-container {
  width: calc(100% + 5px);
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  list-style: none;
  text-overflow: ellipsis;
  /* margin: 0; */
  padding: 0px;
  margin: 0;
}

.pill-container-expanded {
  width: calc(100% + 5px);
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  list-style: none;
  text-overflow: ellipsis;
  /* margin: 0; */
  padding: 0px;
  margin: 0;
}

.grouper {
  border-radius: 5px;
  background-color: rgb(80, 80, 84);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  padding: 0px 5px 5px 0px;
  display: flex;
  margin-right: 10px;
  flex-wrap: wrap;
  /* align-content: flex-start; */
  margin-top: 10px;
}

.indicator {
  border-radius: 5px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  background-color: rgb(214, 79, 79);
  padding: 0px 2px 0px 2px;
  color: white;
  margin-left: 5px;
  margin-top: 5px;
  height: min-content;
  /* margin-bottom: 5px; */
}

.relational-container {
  display: flex;
  align-items: center;
  height: min-content;
  margin-top: 5px;
}

.relational-key {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 900;
  padding-left: 5px;
  padding-right: 5px;
  /* padding-bottom: 5px; */
  padding-top: 0px;
  margin: 0;
  flex: 0 1 auto;
  color: white;
  /* height: min-content; */
}

.relational-notification {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 900;
  padding-left: 6px;
  padding-right: 6px;
  /* padding-bottom: 5px; */
  padding-top: 0px;
  margin: 0;
  margin-top: -2px;
  flex: 0 1 auto;
  color: white;
  background-color: rgb(214, 79, 79);
  border-radius: 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  /* height: min-content; */
  
}

.relational-value {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-left: 5px;
  /* padding-bottom: 5px; */
  padding-right: 5px;
  margin: 0;
  flex: 0 1 auto;
  color: white;
  /* height: min-content; */
}

.relational-line {
  margin-top: -2px;
  height: 2px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255) 20%, transparent 20%, transparent 100%);
  background-size: 8px 1px;
  border: none;
  flex: 1 0 auto;
}

.date-left {
  width: 40%;
}

.date-right {
  width: 60%;
}
.full-width {
  width: 100%;
}


progress[value] {
  -webkit-appearance: none;
  appearance: none;
  /* width: 150px; */
  width: min-content;
  height: 9px;
  flex: 1 0 auto;
  /* margin-top: 7px; */
}

progress[value]::-webkit-progress-bar {
  background-color: rgb(73, 73, 77);
  border-radius: 7px;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(122, 209, 106);
  border-radius: 7px;
}



.progress-text {
  font-family: 'Roboto' sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: -1px;
}

#indicator-group {
  width: 187px;
  height: min-content;
}

#indicator-group-expanded {
  width: max-content;
  height: min-content;
}

#sf-group {
  width: 130px;
  height: min-content;
}

#permit-group {
  width: 218px;
  height: 39px;
  justify-content: space-between;
}

#progress-group {
  width: 236px;
  height: min-content;
}

#lot-group {
  width: 237px;
  height: min-content;
}

#series-details-group {

}

#punchlist-group {

}

#addendum-group {

}

@media (max-width: 600px) {
  /* .modal {
  background: black;
  opacity: 0.2;
  backdrop-filter: brightness(40%);
  } */
  .card-expanded {
    width: 380px;
    height: fit-content;
  }
  .pill-container-expanded {
    overflow-x: auto;
    flex-wrap: wrap;
    white-space:normal;
    text-overflow: ellipsis;
  }
  .pill-container-expanded >.infopill {
    margin-bottom: 5px;
  }
  #progress-group {
    width: 100%;
    height: min-content;
  }
  #lot-group {
    width: 100%;
  }

  .card-expanded > .head {
    padding-bottom: 5px;
  }

}

.test-button {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background-color:rgb(122, 209, 106);
  color: white;
  margin-left: 40%;
  margin-top: 50px;
}


.navbar {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  color: white;
  position: sticky;
  /* height: 64px; */
  padding: 5px;
  z-index: 1;
  /* width: 100%; */
  
  
  
  /* Card colored background with card drop shadow -----------------------*/
  /* background-color: rgb(46,46,52);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16)); */

/* Body colored background with more intense drop shadow ------------------- */
  background-color: rgb(26, 26, 33);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.50));
}

.navbar-item {
  list-style: none;
  margin-left: 20px;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.nav-container {
  display: flex;
  margin-right: 20px;
  height: fit-content;
  margin-bottom: 0;
  margin-top: 0;
}

.nav-unfolded {
  /* height: 90px; */
  height: min-content;
  max-height: 79px;
}

.nav-row-title {
  color: white;
  font-size: 1em;
  /* justify-self: flex-end; */
  margin-top: 5px;
  height: min-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.nav-title {
  margin-bottom: 0;
  margin-top: 0;
  height: min-content;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.filter-item {
  padding: 5px;
  border-radius: 5px;  
  background-color: rgb(46,46,52);  
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));  
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  list-style: none;
  height: min-content;
  margin-left: 10px;
  margin-bottom: 5px;
  height: min-content;
  cursor: pointer;
  user-select: none;
}

.filter-item-dropdown {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  list-style: none;
  height: min-content;
  margin-left: 10px;
  margin-bottom: 5px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  height: min-content;
  margin-top: 10px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-item {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.dropdown-item:hover {
  background-color: rgb(80, 80, 84);
  cursor: pointer;
}

.nav-item-title {  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  list-style: none;
  height: min-content;
}